<script setup lang="ts"></script>

<template>
	<div
		class="relative overflow-hidden font-sans px-4 py-16 bg-dark md:px-24 lg:px-8 lg:py-20 h-screen flex flex items-center overflow-hidden justify-center">
		<video
			src="/assets/wallpaper.mp4"
			class="absolute z-1 object-cover h-full w-full inset-0 filter opacity-30"
			autoplay
			loop
			muted />
		<div
			class="z-2 flex flex-col items-center justify-between lg:flex-row sm:max-w-xl w-full md:max-w-full lg:max-w-screen-xl">
			<div
				class="mb-10 mx-auto text-center lg:pr-5 lg:mb-0 flex flex-col gap-y-4">
				<div
					class="mb-3 -m-1 text-6xl font-bold leading-none font-inter tracking-tight sm:text-8xl">
					<!-- <h2 class="animate-slide-in text-gray-100 p-1 mb-0.5">
						Bonjour, je suis
					</h2> -->
					<h1
						class="animate-slide-in p-1 inline-block mt-0 text-white">
						Raphael Beaudetoff
					</h1>
				</div>
				<!-- <div
					class="flex flex-col items-center md:flex-row animate-slide-in">
					<a
						href="/"
						class="inline-flex group items-center justify-center w-full h-12 px-6 mb-3 font-medium tracking-wide text-white transition duration-200 rounded shadow-md md:w-auto md:mr-4 md:mb-0 bg-gradient-to-r from-orange-400 to-rose-400 focus:shadow-outline focus:outline-none">
						<span class="mr-2">Voir mes travaux</span>
						<span
							class="overflow-clip flex flex-row relative w-6 h-6">
							<IconArrowRight
								class="group-hover:translate-x-0 absolute duration-300 -translate-x-6" />
							<IconVideo
								class="group-hover:translate-x-6 absolute duration-300 translate-x-0" />
						</span>
					</a>
					<a
						href="/"
						aria-label=""
						class="inline-flex items-center font-semibold text-gray-100 transition-colors duration-200 hover:text-orange-400"
						>Mes reseaux</a
					>
				</div> -->
			</div>
		</div>
	</div>

	<div
		class="px-4 py-16 w-full bg-dark-800 font-inter md:px-24 lg:px-8 lg:py-20 fill-white">
		<h2
			class="max-w-lg mb-6 mx01 text-3xl font-bold tracking-tight text-gray-50 sm:text-4xl sm:leading-none">
			Mes créations
		</h2>
		<ClientOnly>
			<Carousel :items-to-show="4.5">
				<Slide v-for="slide in 10" :key="slide">
					<div
						class="w-full mx-2 rounded duration-200 group relative flex items-center justify-center shadow-lg h-50 overflow-hidden">
						<img
							class="object-cover duration-500 ease-in-out mb-6 group-hover:scale-105 ease-in-out"
							src="/assets/unsplash1.jpg"
							alt="" />
					</div>
				</Slide>

				<!-- <template #addons>
				<Navigation />
			</template> -->
			</Carousel>
		</ClientOnly>
		<!-- <div
			class="grid gap-10 lg:grid-cols-2 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl">
			<div
				class="flex flex-col justify-center items-center md:pr-8 xl:pr-0 lg:max-w-lg">
				<div class="max-w-xl mb-6">
					<h2
						class="max-w-lg mb-6 text-3xl font-bold tracking-tight text-gray-50 sm:text-4xl sm:leading-none">
						Je suis Raphael,<br />
						réalisateur de
						<span class="inline-block text-white text-glow-orange"
							>vidéos</span
						>
					</h2>
					<p class="text-base text-gray-200 md:text-lg">
						Je crée des videos, du contenu et des experiences.
					</p>
				</div>
			</div>
			<div class="flex items-center justify-center -mx-4 lg:pl-8 group">
				<div class="flex flex-col items-end px-3">
					<img
						class="object-cover group-hover:-rotate-3 group-hover:-translate-x-4 group-hover:-translate-y-4 duration-200 ease-in-out mb-6 rounded shadow-lg h-28 sm:h-48 xl:h-56 w-28 sm:w-48 xl:w-56"
						src="/assets/unsplash1.jpg"
						alt="" />
					<img
						class="object-cover w-20 h-20 group-hover:-rotate-3 group-hover:-translate-x-4 group-hover:translate-y-4 duration-200 ease-in-out rounded shadow-lg sm:h-32 xl:h-40 sm:w-32 xl:w-40"
						src="/assets/sharks.jpg"
						alt="" />
				</div>
				<div class="px-3">
					<img
						class="object-cover group-hover:rotate-3 group-hover:translate-x-4 group-hover:-translate-y-4 duration-200 ease-in-out w-40 h-40 rounded shadow-lg sm:h-64 xl:h-120 sm:w-64 xl:w-80"
						src="/assets/tropical.jpg"
						alt="" />
				</div>
			</div>
		</div> -->
	</div>
</template>
