/* Import fonts */
@import "inter.css";
@import "poppins.css";

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
}

html {
	width: 100%;
	min-height: 100vh;
}
body,
#app {
	width: inherit;
	min-height: inherit;
	margin: 0;
	padding: 0;
}

.button {
	@apply inline-flex justify-center items-center px-4 py-2 text-base font-medium rounded-md border shadow-sm duration-200 font-inter focus:outline-none sm:text-sm;
}

a {
	color: inherit;
	text-decoration: none;
}

.status-text a,
.bio a {
	@apply text-orange-400;
	text-decoration: none;
	position: relative;
	display: inline-block;
}

.bio a:hover,
.bio a:active,
.status-text a:hover,
.status-text a:active {
	text-decoration: none;
}

.bio a::after,
.status-text a::after {
	content: "";
	position: absolute;
	bottom: -0.1em;
	height: calc(100% + 0.1em);
	width: 0%;
	left: -0.3em;
	background-color: rgba(251, 146, 60, 0.3);
	transition: 0.5s ease all 0.3s;
	border-radius: 2px;
}

.bio a:hover::after,
.status-text a:hover::after {
	width: calc(100% + 0.6em);
	transition: 0.3s ease all;
}

.bg-gradient-light {
	background: linear-gradient(
		115deg,
		transparent 0,
		transparent 20%,
		rgba(176, 148, 88, 0.1) 35%,
		rgba(230, 153, 9, 0.1) 70%,
		transparent 80%,
		transparent 100%
	);
}

.dark .bg-gradient-light {
	background: linear-gradient(
		115deg,
		rgba(0, 0, 0, 0) 0px,
		rgba(0, 0, 0, 0) 20%,
		rgba(101, 84, 48, 0.1) 35%,
		rgba(184, 122, 7, 0.1) 70%,
		rgba(0, 0, 0, 0) 80%,
		rgba(0, 0, 0, 0) 100%
	);
}

.no-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

.no-bad-scale {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1, 1);
	transform: translateZ(0);
}

.animate-slide-in {
	animation: .75s cubic-bezier(1,-0.01,.12,.8) 1 slide-in forwards;
}

@keyframes slide-in {
    0% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1.0
	}
}

@keyframes reveal {
  from { clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); }
  to { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

@keyframes hideBlack {
  from { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  to { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }
}

.animatable {
  position: relative;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  animation: .75s cubic-bezier(1,-0.01,.12,.8) 1 reveal forwards;
}

.animatable::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  border-radius: 5px;
  padding: inherit;
  animation: .75s cubic-bezier(1,-0.01,.12,.8) .75s 1 hideBlack forwards;
}

.status-text a {
	word-break: break-all;
}
@keyframes hithere {
	30% {
		transform: scale(1.2);
	}
	40%,
	60% {
		transform: rotate(-20deg) scale(1.2);
	}
	50% {
		transform: rotate(20deg) scale(1.2);
	}
	70% {
		transform: rotate(0deg) scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.text-glow-orange {
	text-shadow: 0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgba(251, 146, 60, 1),
      0 0 82px rgba(251, 146, 60, 1),
      0 0 92px rgba(251, 146, 60, 1),
      0 0 102px rgba(251, 146, 60, 1),
      0 0 151px rgba(251, 146, 60, 1);
}

.button-gray {
	@apply dark:text-gray-200 bg-gray-100 text-black dark:bg-dark-800 dark:border-gray-600 outline-none hover:scale-105;
}

.button {
	@apply inline-flex justify-center relative ease-in-out items-center no-bad-scale px-4 py-2 text-base font-medium rounded-md border shadow-sm duration-200 font-inter focus:outline-none sm:text-sm;
}

.prose :where(img):not(:where([class~=\"not-prose\"] *)) {
	margin-top: 0;
	margin-bottom: 0;
	@apply rounded-md border border-gray-300 shadow-md
}

.prose :where(h1, h2, h3, h4, h5, h6):not(:where([class~=\"not-prose\"] *)) {
	color: inherit;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before, .prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}